<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Blog Ness Monster</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>

  <body>

    <header>
      <h1>The Blog Ness Monster</h1>
    </header>

    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>

    <article>
      {{{body}}}
    </article>

    <footer>
      A Blog Ness Monster Production
    </footer>

  </body>
</html>