<main>
  <header>
    <h2>New Post</h2>
  </header>
  <form>
    <label>Title</label>
    <input type="text" />
    <label>What did you find?</label>
    <textarea></textarea>
    <button type="submit" class="btn">Post</button>
  </form>
</main>