<main>
  <header>
    <h2>Sign Up</h2>
  </header>
  <form>
    <div>
      <label>Username</label>
      <input />
    </div>
    <div>
      <label>Password</label>
      <input />
    </div>
    <button>Login!</button>
    <a href="/login">Login instead</a>
  </form>
</main>