* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: sans-serif;
  color: rgb(51, 51, 51);
  background-color: #f7f7f7;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  justify-content: center;
  padding: 80px;
}

article {
  display: flex;
  font-family: sans-serif;
  color: rgb(51, 51, 51);
  background-color: rgb(194, 200, 219);
  text-align: justify;
  justify-content: center;
  border: solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  background-color: #f7f7f7;
}

.btn {
  font-size: small;
  text-decoration: none;
  padding: 10px 10px;
  width: 100%;
  color: bisque;
  border: none;
  outline: none;
  background-color: rgb(11, 58, 11);
}

.footer {
  display: inline-block;
  padding: 1px;
  background-color: #f7f7f7;
  text-decoration: none;
}

.hero {
  padding: 5%;
  background-color: rgb(11, 58, 11);
  color: bisque;
}

.hero p {
  max-width: 75%;
}

.app-title {
  font-size: 3rem;
  background-color: rgb(11, 58, 11);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  box-shadow: 6px 5px;
}

.app-title a {
  color: rgb(37, 10, 10);
}

.list-group {
  padding: 1%;
}

.list-item {
  margin-bottom: 10px;
  padding: 2%;
  text-decoration: none;
}

/* Cards */
.card {
  margin: 20px;
  border: 4px;
}

.card-header {
  color: bisque;
  padding: 1%;
}

.card-body {
  padding: 3%;
}
